@page
@model VitrineExpress.Pages.Pedidos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pedido.Id" />
            <div class="form-group">
                <label asp-for="Pedido.DataPedido" class="control-label"></label>
                <input asp-for="Pedido.DataPedido" class="form-control" />
                <span asp-validation-for="Pedido.DataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.ValorTotal" class="control-label"></label>
                <input asp-for="Pedido.ValorTotal" class="form-control" />
                <span asp-validation-for="Pedido.ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.ClienteId" class="control-label"></label>
                <select asp-for="Pedido.ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="Pedido.ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.LojaId" class="control-label"></label>
                <select asp-for="Pedido.LojaId" class="form-control" asp-items="ViewBag.LojaId"></select>
                <span asp-validation-for="Pedido.LojaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.StatusPedido" class="control-label"></label>
                <select asp-for="Pedido.StatusPedido" class="form-control"></select>
                <span asp-validation-for="Pedido.StatusPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido.TipoEntrega" class="control-label"></label>
                <select asp-for="Pedido.TipoEntrega" class="form-control"></select>
                <span asp-validation-for="Pedido.TipoEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
